<div class = "center">

<%= form_tag('/searches', remote: true) do %>
<div class ="form-group">
  <%= label_tag 'search[query]', 'Looking for' %>
  <%= text_field_tag 'search[query]', '', :class => "form-control", :placeholder => "pizza" %>
</div>
  <%= hidden_field_tag 'search[ll]' %>
<div class ="form-group">
  <%= label_tag 'search[near]', 'Near' %>
  <%= text_field_tag 'search[near]', '', :class => "form-control", :placeholder => "East Village, NY"%>
</div>

<div class="whirly-loader">
  Loading…
</div>

<button id="location" class= "btn btn-default">Use Current Location Instead</button>
<br>
<br>
<div id = "display_location"></div>

  <%= submit_tag 'Search', :id => 'submit', :class => 'btn btn-primary'%>
  <%= submit_tag 'Reset', :type => 'reset', :style => "display: none"%>
<% end %>

</div>