<% if venues == nil  %>
    <h3>Welcome</h3>
  <% elsif venues.empty? %>
    <h3>No results found for <%= query %> in that location<h3>
  <% elsif venues%>
    <% venues.each do |venue| %>
      <h3><%= venue['venue']['name'] %></h3>
      <p><%= venue['venue']['location']['formattedAddress'].join(" ") %></p>
    <% end %>
<% end %>



<div id="map" style="width: 500px; height: 400px;"></div>
  <script type="text/javascript">

  <%= ruby_locations = [] %>

  <% venues.each.with_index(1) do |venue, i| %>
    <% longitude = venue['venue']['location']['lng'] %>
    <% latitude = venue['venue']['location']['lat'] %>
    <% name = venue['venue']['name'] %>
    <% ruby_locations << [name, latitude, longitude, i] %>
  <% end %>

  var locations = '<%= ruby_locations %>';
  
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(40.7127, -74.0059),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
