<% if @search.errors.any? %>
  <ul>
    <% @search.errors.messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@search) do |f| %>
  <%= f.label :query, 'Looking for' %>
  <%= f.text_field :query, :placeholder => "pizza" %>
  <%= f.hidden_field :ll %>
  <%= f.label :near %>
  <%= f.text_field :near, :placeholder => "East Village, NY" %>
  <%= f.submit 'Search' %>
<% end %>

<button id="location">Use Current Location</button>

<% if @response %>
  <div class="jumbotron" id="venues">
    <% @response['response']['groups'][0]['items'].each do |venue| %>
      <h3><%= venue['venue']['name'] %></h3>
      <p><%= venue['venue']['location']['formattedAddress'].join(" ") %></p>
    <% end %>
  </div>
<% end %>