<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_tag('/searches') do %>
<%= label_tag 'search[query]', 'Looking for' %>
  <%= text_field_tag 'search[query]' %>

  <%= hidden_field_tag 'search[ll]' %>

  <%= label_tag 'search[near]' %>
  <%= text_field_tag 'search[near]' %>

  <%= submit_tag 'Search' %>
  <%= submit_tag 'Reset', :type => 'reset', :style => "display: none"%>
<% end %>

<button id="location">Use Current Location</button>

<% if @venues %>
  <div class="jumbotron">
    <% @venues.each do |venue| %>
      <h3><%= venue['venue']['name'] %></h3>
      <p><%= venue['venue']['location']['formattedAddress'].join(" ") %></p>
    <% end %>
  </div>
<% end %>