<!DOCTYPE html>
<html>
<head>
  <title>FlatironProject1</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="http://css-spinners.com/css/spinner/whirly.css" type="text/css">
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= include_gon %>
</head>
<body>
<div class="container">

<h1>Where are the locals at?</h1>
<br>
  <%= yield %>
</div>
</body>
</html>