<!DOCTYPE html>
<html>
<head>
  <title>FlatironProject1</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="http://css-spinners.com/css/spinner/whirly.css" type="text/css">
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= include_gon(watch: true) %>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_key']%>" type="text/javascript"></script>

</head>
<body>

  <%= yield %>

<div class="navbar navbar-default">
  <div class="footer-text">Made by <a href="http://www.github.com/elainapolson" target="blank">Elaina Polson</a>, <a href="http://www.github.com/minling" target="blank">Minling Zhao</a> &amp; <a href="http://www.github.com/ryannyunn" target="blank">Ryan Yun</a> at <a href="http://www.flatironschool.com" target="blank">Flatiron School</a>. | <a href="http://www.github.com/ryannyunn/wherethelocalsat" target="blank">See our source code!</a> | This product uses <a href="https://developer.foursquare.com/" target="blank">the Foursquare API</a> but is not endorsed or certified by Foursquare.</div>
</div>

</body>
</html>